# ===================================================================
# artella requirements file
# ===================================================================

PySide;python_version <= '3.4' and sys_platform == 'win32'
PySide2;python_version > '3.4'  and sys_platform == 'win32'
PySide;python_version < '2.7' and sys_platform == 'darwin'
PySide2;python_version >= '2.7'  and sys_platform == 'darwin'
Qt.py